@import "../../../variables.scss";

.top-container.bg-color {
  background-image: linear-gradient(-160deg, transparent, #1b1b1b),
  url("/assets/mobile.png");
  opacity: 0.98;
}

[challenges-container] {
  padding-top: 1rem;
}

.container1 {

  .main-heading {
    display: inline-block;
    position: relative;
  }

  .sub-heading {
    left: 57%;
    position: absolute;
    top: 72%;

  }

  .f-right {
    float: right;
  }

  .bona2 {
    position: relative;
  }

  .img2 {
    position: absolute;
    top: 6rem;
  }

  .display-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .hand {
    position: absolute;

  }

  .mobile {
    display: none;
  }

  .specific-height {
    height: 5rem;
  }

  @media screen and (max-width: 600px) {
    .sub-heading {
      left: 9px;
      position: inherit;
      top: 26px;
    }
    .notmobile {
      display: none;
    }
    .mobile {
      display: block;
    }
    .p-a {
      height: 4rem;
      left: 0;
      position: absolute;
      width: 4rem;
    }
    .b-a {
      left: -2rem;
      top: 11rem;
    }
    .t-a {
      left: 4rem;
      top: 11rem;
    }
    .a-a {
      bottom: 2rem;
      left: 2rem;
    }
    .d-a {
      left: 6rem;
      top: 5rem;

    }
    .s-a {
      left: 13rem;
    }
  }

}

.container2 {
  .profile-img {
    border-radius: 50%;
    width: 66px;

  }

  .name {
    color: #ffffff;
    font-family: Titillium Web;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* identical to box height, or 175% */
    letter-spacing: 0.03em;
    line-height: 28px;

    /* White */

    margin: 0;
  }

  .date {
    color: #dedede;
    font-family: Titillium Web;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    /* identical to box height, or 233% */

    letter-spacing: 0.03em;

    /* Black/Black 100 */

    line-height: 28px;
    margin: 0
  }

  .card-bg {
    background: #2e2e2e;
  }

  .details {
    color: #dedede;
    font-family: Titillium Web;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    /* or 186% */

    /* Black/Black 100 */

    line-height: 26px;

  }

  .m-img {
    margin-left: -2rem;
    margin-top: -2rem;
  }

  .margin-top {
    margin-top: 5.5rem;
  }

  .play {
    background: #e1ff28;
    border: none;
    float: right;
    height: 44px;
    width: 78px;
  }

  .gamer {
    color: #9e9e9e;
    font-family: Titillium Web;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    /* identical to box height, or 233% */

    letter-spacing: 0.03em;

    line-height: 28px;
  }

  .padding-left {
    padding-left: 1.5rem;
  }

  .padding-right {
    padding-right: 1.5rem;
  }

  .pl-4 {
    padding-left: 1.5rem;
  }

  .seeall {
    background: transparent;
    border: none;
    color: #e1ff28;
    font-family: Titillium Web;
    font-size: 24px;
    /* identical to box height, or 117% */

    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.03em;

    line-height: 28px;
  }

  .specific-height {
    height: 10rem;
  }

  .center {
    justify-content: center;
  }

  .ch {
    color: #b9b9b9;
    font-family: Titillium Web;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    /* identical to box height, or 150% */

    line-height: 36px;
    margin: auto;
    max-width: 50rem;
  }

  .p-mobile {
    padding: 1.5rem 2rem;
  }

  .mobile {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .sub-heading {
      left: 9px;
      position: inherit;
      top: 26px;
    }
    .notmobile {
      display: none !important;
    }
    .mobile {
      display: block;
    }
    .p-mobile {
      padding: 0;
    }
    .row-re {
      position: relative;
    }
    .img-ab {
      height: 77px;
      position: absolute;
      right: 1rem;
      top: -1rem;
      width: 77px;
    }
  }

  .main-p {
    color: #ab9e9e;
    font-size: 15px;
    padding: 26px;
  }

}

.section-title {
  color: white;
  font-family: CHANEY;
  font-size: 4.75rem;
  font-weight: 400;
  margin: 0rem auto;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.competitors-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 8rem auto;

  > .versus {
    align-items: center;
    background: radial-gradient(40.03% 40.03% at 49.72% 50.28%, #28ff7e 0%, rgba(36, 255, 123, 0.272765) 60.21%, rgba(34, 255, 122, 0) 100%);
    color: var(--color-3);
    display: flex;
    justify-content: center;
    margin: auto 1rem;
    margin-right: 0;
    padding: calc(4rem + 25px) 4rem;
  }

  > .competitorB {
    transform: rotate(15deg) !important;
  }

  > .competitorA, .competitorB {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    padding: 4rem;
    padding-bottom: 2rem;
    position: relative;
    transform: rotate(-15deg);

    > .name {
      color: white;
      font-size: 1.1rem;
      margin-top: 2rem;
      opacity: 1;
      z-index: 1;
    }

    > .avatar {
      z-index: 1;
    }

    > .shadow-background {
      background: rgba(242, 47, 176, 0.2);
      border: 0.1rem solid #f22fb0;
      border-radius: 0.2rem;
      box-sizing: border-box;
      height: 100%;
      left: 1.5rem;
      opacity: 0.8;
      position: absolute;
      top: 1.5rem;
      width: 100%;
      z-index: -1;
    }

    > .top-background {
      background: $color-1;
      border: 0.1rem solid var(--color-8);
      border-radius: 4px;
      box-sizing: border-box;
      height: 100%;
      left: 0rem;
      opacity: 0.8;
      position: absolute;
      top: 0rem;
      width: 100%;
    }

  }
}

.action-btn-container {
}

.pagination-container {
  display: flex;
  justify-content: center;

  > .button {
    margin-left: 0.5rem;
  }
}

.bet-container {
  overflow: hidden;
}

[play2mint-container] {
  max-width: initial;

  .challenges-list-container {
    flex-wrap: nowrap;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    padding: 2rem;
    padding-top: 3rem;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      padding-right: 2.5rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.height-spacer {
  height: 10rem;
}

.bet-container-background {
  background-image: url(/assets/images/World.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto calc(100% - 5rem);
}

[handy-container] {
  position: relative;

  .background {
    background: radial-gradient(43.35% 43.35% at 49.72% 50.28%, rgba(40, 242, 255, 0.3) 0%, rgba(40, 242, 255, 0.114) 57.84%, rgba(40, 242, 255, 0) 100%);
    bottom: -3vw;
    height: 40rem;
    left: calc(50% - 20rem);
    position: absolute;
    width: 40rem;
  }

  .action-container {
    margin-top: 6rem;
    position: relative;
    z-index: 1;
  }
}

.hands-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  position: relative;
  z-index: 1;

  .hand {
    height: auto;
    max-width: 250px;
    width: 35%;
  }
}

.built-with-container {
  align-items: center !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  display: flex;
  padding: 1.1rem 1.8rem;

  > .title {
    margin: auto;
    margin-right: 1.2rem;
  }

  > img {
    max-height: 1.4rem;
    width: auto;
  }
}

@media screen and (max-width: 995px) {

  .section-title {
    font-size: 3.75rem;
  }

  .bet-container {
    background-size: 100% auto;
  }

  .height-spacer {
    height: 5rem;
  }

  .competitors-container {
    > .versus {
      padding: calc(2rem + 11px) 2rem;

      img {
        width: 50px;
      }
    }

    > .competitorA, .competitorB {
      min-width: 40%;
      padding: 2rem;
      padding-bottom: 1rem;
      width: 40%;

      > .avatar {
        width: 100%;
      }
    }
  }

  [handy-container] {
    .background {
      bottom: 0vw;
      height: 60vw;
      left: calc(50% - 30vw);
      width: 60vw;
    }
  }

}

@media screen and (max-width: 767px) {

  .section-title {
    font-size: 3.25rem;
  }

  [handy-container] {
    .background {
      bottom: 5.5rem;
    }
  }

  .challenges-spacer {
    height: 2rem !important;
  }

  .competitors-container {
    > .competitorA {
      transform: rotate(-15deg) translateY(-3rem) !important;
    }

    > .competitorB {
      transform: rotate(15deg) translateY(3rem) !important;
    }
  }
}

@media screen and (max-width: 500px) {

  .section-title {
    font-size: 2.5rem;
  }

}

.devnet-message {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
