<div>
    <div class="top-container bg-color">
        <app-header [linkHome]="true"></app-header>
        <div class="container1">
            <div class="container-fluid">
                <div class="row pt-5">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <p class="main-heading">
                                    <img alt="" class="img-fluid" src="/assets/main.svg">

                                    <span class="sub-heading">
			                        	<img src="/assets/images/main-subtext.svg">
			            			</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 notmobile pl-4">
                        <p class="f-right">
                            <img src="/assets/images/skeleton-king.svg">
                        </p>
                        <div class="row notmobile">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="bona2">
                                    <img alt="" class="img-fluid img2" src="/assets/degenape1.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2nd row  -->

                <div class="row mt-4">

                    <div class="col-md-8 mt-4 notmobile">

                        <img alt="" class="img-fluid f-right p-4 m-4" src="/assets/thugbird.svg">
                        <img alt="" class="img-fluid f-right p-4 m-4" src="/assets/boogie.svg">
                        <img alt="" class="img-fluid f-right p-4 m-4" src="/assets/aurory.svg">
                    </div>
                    <div class="col-md-4 display-right p-0">

                        <!-- mobile  -->
                        <img alt="" class="img-fluid p-a s-a mobile " src="/assets/smb.svg">

                        <img alt="" class="img-fluid p-a t-a mobile " src="/assets/thugbird.svg">
                        <img alt="" class="img-fluid p-a b-a mobile " src="/assets/boogie.svg">
                        <img alt="" class="img-fluid p-a a-a mobile" src="/assets/aurory.svg">
                        <img alt="" class="img-fluid p-a d-a mobile" src="/assets/degenape1.svg">

                        <!-- destop  -->

                        <img alt="" class="img-fluid" src="/assets/Planet.svg">
                        <img alt="" class="img-fluid hand" src="/assets/hand_rock.svg">
                    </div>
                </div>

                <!-- 3rd row  -->
                <div class="row specific-height justify-content-center" style="padding-bottom: 150px">
                    <div class="row justify-content-center align-items-center text-white position-relative built-with-container">
                        <h5 class="title">Built on</h5>
                        <img alt="Solana" src="/assets/images/solana.svg"></div>
                </div>
            </div>
        </div>

        <div class="container2">

            <div class="container-fluid">
                <div challenges-container class="container">
                    <div class="section-title text-center">
                        Challenge Markets
                    </div>
                    <div class="mt-4 mb-4">
                        <p class="ch text-center">
                            Create, play or invest in challenges </p>
                    </div>

                    <div class="devnet-message">
                        <devnet-message></devnet-message>
                    </div>

                    <!-- 1st row  -->
                    <div class="row mb-4 margin-top" style="align-items: stretch">
                        <div *ngFor="let challenge of availableChallenges" class="col-md-6 mt-4 mb-4 p-mobile">
                            <app-challenge [challenge]="challenge"></app-challenge>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 center mb-4">

                    <button class="seeall mt-4" routerLink="/challenges">See All
                        <img src="/assets/icons/arrow-right2.svg"/>
                    </button>

                </div>
                <div class="row challenges-spacer height-spacer"></div>
            </div>
        </div>

        <div class="container2 bet-container">

            <div class="container-fluid">
                <div challenges-container class="container">
                    <div class="section-title text-center">
                        <img alt="" class="img-fluid" src="/assets/MultiPlayerEngine.png">
                    </div>
                    <p class="ch text-center">
                        Bet whatever you want against whoever you want however you want </p>
                    <div class="competitors-container">
                        <div class="competitorA">
                            <img class="avatar" src="/assets/images/monkeydao1.png">
                            <div class="name">MonkeyDAO</div>
                            <div class="top-background"></div>
                            <div class="shadow-background"></div>
                        </div>
                        <div class="versus">
                            <img src="/assets/VS.png">
                        </div>
                        <div class="competitorB">
                            <img class="avatar" src="/assets/images/thugbird1.png">
                            <div class="name">ThugDAO</div>
                            <div class="top-background"></div>
                            <div class="shadow-background"></div>
                        </div>
                    </div>

                    <div class="action-container text-center">
                        <button (click)="waitlistModal.open()" class="button">
                            Coming soon 🤙🏽
                        </button>
                    </div>

                </div>
                <div class="row height-spacer"></div>
            </div>
        </div>

        <div class="container2">

            <div class="container-fluid">
                <div class="container" play2mint-container>
                    <div class="section-title text-center">
                        <img alt="" class="img-fluid" src="/assets/PLAY2Mint.png">
                    </div>
                    <p class="ch text-center">
                        Play and get a random one </p>
                    <!-- 1st row  -->
                    <div #challengeScroller class="row mb-4 challenges-list-container" style="align-items: stretch">
                        <div *ngFor="let challenge of challenges">
                            <app-challenge2 [challenge]="challenge"></app-challenge2>
                        </div>
                    </div>

                    <div class="pagination-container">
                        <button (click)="scrollChallenges('left')" class="button icon-button">
                            <svg-icon src="/assets/icons/arrow-left.svg"></svg-icon>
                        </button>
                        <button (click)="scrollChallenges('right')" class="button icon-button">
                            <svg-icon src="/assets/icons/arrow-right.svg"></svg-icon>
                        </button>
                    </div>

                </div>
                <div class="row height-spacer"></div>
            </div>
        </div>

        <div class="container2 bet-container bet-container-background">

            <div class="container-fluid">
                <div challenges-container class="container" handy-container>
                    <div class="section-title text-center">
                        <img alt="" class="img-fluid" src="/assets/HANDY_GAME.png">
                    </div>
                    <p class="ch text-center">
                        Use the Challenge Markets, Multiplayer Engine and Play2mint capabilities to build your own
                        experiences/games </p>
                    <div class="hands-container">
                        <img class="hand hand2" src="/assets/images/hand4.png">
                        <img class="hand hand1" src="/assets/images/hand5.png">
                        <img class="hand hand3" src="/assets/images/hand6.png">
                    </div>
                    <div class="background"></div>
                    <div class="action-container text-center">
                        <button (click)="waitlistModal.open()" class="button">
                            Coming soon 🤙🏽
                        </button>
                    </div>

                </div>
                <div class="row height-spacer"></div>
            </div>
        </div>

    </div>
    <app-modal #waitlistModal [component]="WaitlistPromptComponent"></app-modal>
    <app-home-footer></app-home-footer>
</div>