$color-1: #2e2e2e;
$color-2: #101010;
$color-3: #1b1b1b;
$color-4: #dedede;
$color-5: #9e9e9e;
$color-6: #b9b9b9;
$color-7: #e1ff28;
$color-8: #f22fb0;
$color-9: #93ab01;
$color-10: #28f2ff;
$color-11: #c4c4c4;