<div [attr.mobile]="isMobile" class="footerlogo">
    <div class="social-link-container">
        <a [href]="socialLinks.twitter" class="social-link" target="_blank"><img src="/assets/icons/twitter.svg"/></a>
        <a [href]="socialLinks.discord" class="social-link" target="_blank"><img src="/assets/icons/discord.svg"/></a>
        <a [href]="socialLinks.youtube" class="social-link" target="_blank"><img src="/assets/icons/youtube.svg"/></a>
        <a [href]="socialLinks.medium" class="social-link" target="_blank"><img src="/assets/icons/medium.svg"/></a>
        <a [href]="socialLinks.instagram"
           class="social-link"
           target="_blank"><img src="/assets/icons/instagram.svg"/></a>
    </div>
    <img alt="" class="img-fluid logo" src="/assets/footerlogo.svg">
</div>