<div>
    <div class="root-container">

        <app-header></app-header>

        <div class="main-content">

            <div class="title">Handy Game project to showcase how people can leverage gonnamakeit to build open macro
                strategy games.
            </div>

            

        </div>

        <div class="bottom-background">
            <img src="/assets/images/backgroundTexture1.png">
            <div class="b-container">
                <img class="bottom" src="/assets/images/backgroundTexture2.png">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
