// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #4b49c6;
$secondary: #7572ca;
$accent: #7572ca;

$dark: #1d1d1d;

$positive: #1a9537;
$negative: #c31717;
$info: #17aeca;
$warning: #cfa417;

$gmi-dark: #2c2d30;
$gmi-dark-light: #35363a;
$gmi-dark-darker: #232426;