<div class="root-container">
    <div class="root">

        <app-header></app-header>

        <div class="main-content">

            <div class="section part1">
                {% comment %} <div class="title">
                    Distribution is the most valuable asset in the world
                </div> {% endcomment %}
                <div class="subtitle">
                    Let's make a decentralized distribution machine.
                </div>
            </div>

            <div class="section part2">
                <div class="title">
                    {% comment %} Gonna Make It is a community-owned brand with the mission to bring CT’s GMI good vibes to the world.
                    GMI will start by allowing people and organizations to do more with their favourite games, assets,
                    and brands through gonnamakeit.app. {% endcomment %}

                    @gmi_dao is building an MVP with Clash Royale. **coming soon**
                    The MVP’s ME and CMs will be offered to DAOs and marketers as alternative marketing and recruiting
                    tools. The P2M capability will be offered to highly demanded NFT minting events to overcome the
                    shortcomings of current mints (frontrunning and server overloads).
                    We are working on Handy Game to showcase how people can leverage gonnamakeit’s capabilities to build
                    personalized games and experiences.
                    Gonna Make It aims to be the greatest community-owned brand on earth. To do so, GMI and WAGMI tokens
                    will be dropped to GMI’s users and contributors. Here is an article explaining GMI and WAGMI tokens
                    in-depth:
                </div>
            </div>

        </div>

        <div class="bottom-background">
            <img src="/assets/images/backgroundTexture1.png">
            <div class="b-container">
                <img class="bottom" src="/assets/images/backgroundTexture3.png">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
